/* Fonts */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'),
       local('Lato-Regular'),
       url(/res/fonts/Lato-Regular.woff2) format('woff2'),
       url(/res/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Semibold'),
       local('Lato-Semibold'),
       url(/res/fonts/Lato-Semibold.woff2) format('woff2'),
       url(/res/fonts/Lato-Semibold.ttf) format('truetype');
}

body {
  margin: 0;
  font: 19px -apple-system, 'Lato', sans-serif;
  background-color: #F3F4F5;
  color: #565E65;
}

#chat {
  width: 100%;
}

#chat-list {
  overflow-y: scroll;
  height: calc(100vh - 46px);
}
#chat-list ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
#chat-list li {
  padding: 5px;
}
#chat-list span.username {
  font-weight: bold;
}

#chat-list span.blue {
  color: #95AEC7;
}
#chat-list span.green {
  color: #AEC795;
}
#chat-list span.orange {
  color: #EDC185;
}
#chat-list span.purple {
  color: #AE95C7;
}
#chat-list span.red {
  color: #C795A2;
}
#chat-list span.yellow {
  color: #E8DA7F;
}

#chat-form input[type=text] {
  font: 19px -apple-system, 'Lato', sans-serif;
  box-sizing: border-box;
  width: 100%;
  border: none;
  margin: 0;
  padding: 15px;
  position: fixed;
  bottom: 0;
  background-color: #D7D7D8;
  color: #363A3D;
  border-radius: 0;
}
#chat-form input:focus {
  outline: none;
}
#chat-form input ::-webkit-input-placeholder {
  color: #565E65;
}
#chat-form input ::-moz-placeholder {
  color: #565E65;
}
#chat-form input :-ms-input-placeholder {
  color: #565E65;
}