h1 {
  margin: 0;
  font-size: 36px;
}

body {
  margin: 0;
  font: 19px -apple-system, 'Lato', sans-serif;
  background-color: #F3F4F5;
  color: #565E65;
}

input[type=text], input[type=submit] {
  font: 19px -apple-system, 'Lato', sans-serif;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 15px;
  background-color: #D7D7D8;
  color: #363A3D;
  border-radius: 0;
}
input[type=range] {
  margin: 0;
  box-sizing: border-box;
}
input[type=submit] {
  border: 1px solid #C0C0C0;
}
input:focus {
  outline: none;
}
input ::-webkit-input-placeholder {
  color: #565E65;
}
input ::-moz-placeholder {
  color: #565E65;
}
input :-ms-input-placeholder {
  color: #565E65;
}

.hidden {
  display: none;
}

div.screen {
  width: 100vw;
  height: 100vh;
}

#chat {
  width: 100%;
  word-wrap: break-word;
  overflow-x: hidden;
}

#splash {
  overflow-y: hidden;
  top: 0;
  text-align: center;
  z-index: 100;
  background-color: #f4f2f5;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  transition: top 1s cubic-bezier(0.9, 0, 0.9, 0.7) 0.5s;
}

#splash .helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  transition: height 1s ease-in-out 1s;
}
#splash img {
  width: 300px;
  max-width: 80%;
  box-sizing: border-box;
  margin: 10px auto;
  vertical-align: middle;
  transition: width 1s ease-in-out 1s;
}

#chat-list {
  overflow-y: scroll;
  height: calc(100vh - 46px);
}
#chat-list ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
#chat-list li {
  padding: 5px;
}
#chat-list span.username {
  font-weight: bold;
}

#chat-list span.blue {
  color: #95AEC7;
}
#chat-list span.green {
  color: #AEC795;
}
#chat-list span.orange {
  color: #EDC185;
}
#chat-list span.purple {
  color: #AE95C7;
}
#chat-list span.red {
  color: #C795A2;
}
#chat-list span.yellow {
  color: #E8DA7F;
}

#chat-form input[type=text] {
  width: 100%;
  position: fixed;
  bottom: 0;
}

#splash form {
  padding: 10px;
}

#splash input, #splash label {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

#splash input[type=submit] {
  width: auto;
  background: linear-gradient(0deg, #D7D7D8, #E4E4E5);
  border-radius: 3px;
}
#splash input[type=submit]:active {
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0, 0.1);
  background: linear-gradient(180deg, #D7D7D8, #E4E4E5);
  border-radius: 3px;
}